.hero {
	height: auto;
	background-color: #F7E4D6;
	position: relative;
	overflow: hidden;
	.town {
		background: url(../images/town-new.png) no-repeat bottom center;
		background-size: 100%;
		position: absolute;
		width: 100%;
		height: 100%;
		top:0;
		bottom: 0;
		left: 0;
		right: 0;
	}

	h1 {
		width: 100%;
		position: fixed;
		margin: 0;
		text-align: center;
		text-transform: uppercase;
		font-size: 10em;
		font-weight: 900;
		color: $brand-warning;
	}
	.container {
		position: relative;
		height: 100%;
		z-index: 10;
	}
	@include min-width($screen-lg-min) {
		height: 550px;
	}
	@include min-width(1367px) {
		height: 675px;
	}
}
.town-mobile {
	width: 100%;
}
.board {
	height: auto;
	// background: url('../images/board.jpg') no-repeat center top;
	// background-size: cover;
	background: #2D2B2C;

	img {
		width: 100%;
	}
}
.pos-r {
	position: relative;
}
.truck {
	width: 581px;
	height: 250px;
	position: absolute;
	bottom:80px;
	left: auto;
	// @include translate(-50%, 0);

	@include min-width($screen-md-min) {
		// left: -300px;
		&.is-driving {
			animation: drive;
			animation-duration: 3.6s;
			animation-iteration-count: 1;
			animation-fill-mode: forwards;

			img {
				animation-name: suspension;
				animation-duration: 1s;
				animation-timing-function: linear;
				animation-iteration-count: 4;
			}
			.wheel {
				animation-name: spin;
				animation-duration: 1s;
				animation-timing-function: linear;
				animation-iteration-count: 3;
			}
		}
		&.is-stopped {
			// left: 50%;
			// @include translate(-50%, 0);
		}
	}
	img {
		width: 100%;
	}
	.wheel {
		background: url(../images/truck/wheel.png) no-repeat center center;
		background-size: 99% auto;
		display: block;
		width: 80px;
		height: 80px;
		position: absolute;
		bottom: 0;
		left: 103px;

		&.front {
			left: auto;
			right: 43px;
		}
	}
	@include max-width(510px) {
		display: none;
	}
}
.mobile-truck {
	display: none;
	position: absolute;
	bottom:20px;
	left: 50%;
	@include translate(-50%, 0);

	@include max-width(510px) {
		display: block;
	}
}
.them {
	position: absolute;
	right: 0;
	bottom:10px;
	@include clearfix();

	img {
		display: block;
		float: left;
		opacity: 0;
		animation: bounceInUp ease-in 1;
		animation-fill-mode: forwards;
		animation-duration:1.5s;
		animation-delay: 3s;
		height: 400px;
	}
	.darlene {
		animation-delay: 3.15s;
	}
}
.awards {
	position: absolute;
	left: 50%;
	top: 105px;
	width: 100%;
	max-width: 450px;
	@include translate(-50%, 0);
	margin: auto;
	div {
		width: 30%;
		float: left;
		padding: 0 4px;
		animation-delay: 0.5s;
		padding-top: 10px;

		@include min-width(1367px) {
			animation-delay: 2.5s;
			&:nth-child(2) {
				animation-delay: 3s;
				width: 40%;
				padding-top: 0;
			}
			&:nth-child(3) {
				animation-delay: 3.5s;
			}
		}
	}
	img {
		width: 100%;
	}
	@include min-width(509px) {
		top: 130px;
		// max-width: 600px;
	}
}
.fade-in {
	opacity: 0;
	animation: fadeIn ease-in 1;
	animation-fill-mode: forwards;
	animation-duration:1s;
}
@keyframes spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}
@keyframes drive {
	0% {transform: translateX(-600px); opacity: 0;}
	5% {opacity: 1;}
	100% { transform: translateX(0px); }
}
@keyframes suspension {
	0% { transform: translateY(-1px); }
	50% { transform: translateY(4px); }
	100% { transform: translateY(0); }
}
@keyframes fadeIn {
	from { opacity:0; }
	to { opacity:1; }
}

/*Hand Animation*/
@-webkit-keyframes shakeHand{
	0%  {-webkit-transform:rotate(135deg)}
	50% {-webkit-transform:rotate(155deg)}
	100%{-webkit-transform:rotate(135deg)}
}
@keyframes shakeHand{
	0%  {transform:rotate(135deg);-ms-transform:rotate(135deg)}
	50% {transform:rotate(155deg);-ms-transform:rotate(155deg)}
	100%{transform:rotate(135deg);-ms-transform:rotate(135deg)}
}

@keyframes bounceInUp {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  from {
    opacity: 0;
    transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }

  75% {
  	opacity: 1;
    transform: translate3d(0, 2px, 0);
  }

  90% {
  	opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  to {
  	opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
